* {
  box-sizing: border-box;
}

html,
body {
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  list-style: none;
  background-color: rgb(119, 52, 158);
  margin: 0;
  justify-content: flex-end;
}
.menu-link {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #fff;
}
.menu-link:hover {
  background-color: rgb(49, 12, 44);
  transition: ease-in-out 0.1s;
}

@media all and (max-width: 600px) {
  .navbar {
    flex-flow: column wrap;
    padding: 0;
    transition: ease-in-out 0.2s;
  }

  .menu-link {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(247, 247, 247, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: ease-in-out 0.3s;
  }

  .navbar li:last-of-type a {
    border-bottom: none;
  }
}

main {
  flex: 1;
}

nav,
footer {
  background-color: #ddd2e5;
  flex: 0 0 auto;
  color: black;
  text-align: center;
}

footer {
  height: 40px;
  justify-content: center;
  padding: 0.5rem;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.form {
    display: flex;
    flex-wrap: wrap;  
}

.form-group {
  background-color: rgb(166, 255, 233);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 318px;
}

.form-group h3 {
  width: 100%;
}

.cotrols-container {
  width: 100%;
}

.control-group {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.input-control {
  flex: 1 0 230px;
}

.control-group label {
  flex: 1 0 90px;
}

.control-group  input {
  margin: auto;
}

.checkbox-container {
  width: 60px;
  flex-wrap: nowrap;
}

.checkbox-container input {
  flex: 0 0 10px;
}

.checkbox-container label {
  flex: 1 0 100px;
}
